body {
  font-family: monospace;
}

.victory {
  display: none;
}

#dice-box {
  background-color: white;
  line-height: 80px;
  text-align: center;
  margin: auto;
  width: 50%;
  border-style: double;
  border-color: black;
}

.current-player-info {
  text-align: center;
}

.player-stats {
  border: 2px solid pink;
  border-radius: 5px;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
  font-family: monospace;
  padding: 2em;
}

.middle-div {
  margin: auto;
}

.main-bg-color {
  background-color: #ffffe3;
}