body {
  font-family: monospace;
  background-color: #ffffe3;
}

h1 {
  text-align: center;
  font-family: monospace;
  padding: 2em;
}

.victory {
  display: none;
}

.current-player-info {
  text-align: center;
}

.player-stats {
  border: 2px solid pink;
  border-radius: 5px;
  margin-bottom: 1em;
}

.middle-div {
  margin: auto;
}

.main-bg-color {
  background-color: #ffffe3;
}

#display-dice-roll {
  font-size: 2em;
  font-weight: bold;
}

#dice-box {
  background-color: white;
  line-height: 80px;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 4px double black;
  border-radius: 3px;
}

/* #refresh-button {
  : center;
} */